.PMS {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.PMS .div {
    background-color: #ffffff;
    width: 1512px;
    height: 982px;
    position: relative;
}

.PMS .text-wrapper {
    position: absolute;
    top: 59px;
    left: 730px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .frame {
    position: absolute;
    width: 290px;
    height: 982px;
    top: 0;
    left: 0;
    background-color: #f3f4f8;
    overflow: hidden;
    border: 1px solid;
    border-color: #00000080;
}

.PMS .frame-2 {
    position: absolute;
    width: 290px;
    height: 388px;
    top: 0;
    left: 0;
    background-color: #cccccc80;
}

.PMS .parky {
    position: absolute;
    top: 9px;
    left: 82px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .span {
    color: #000000;
}

.PMS .text-wrapper-2 {
    color: #ffd035;
}

.PMS .div-wrapper {
    position: absolute;
    width: 167px;
    height: 43px;
    top: 124px;
    left: 48px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
}

.PMS .text-wrapper-3 {
    position: absolute;
    top: 6px;
    left: 31px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .group {
    position: absolute;
    width: 289px;
    height: 275px;
    top: 435px;
    left: 7px;
}

.PMS .vector {
    position: absolute;
    width: 31px;
    height: 30px;
    top: 160px;
    left: 3px;
}

.PMS .uis-signal-alt {
    position: absolute;
    width: 31px;
    height: 30px;
    top: 4px;
    left: 3px;
}

.PMS .text-wrapper-4 {
    position: absolute;
    width: 193px;
    top: 151px;
    left: 58px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .text-wrapper-5 {
    position: absolute;
    width: 161px;
    top: 227px;
    left: 58px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .text-wrapper-6 {
    position: absolute;
    width: 225px;
    top: 74px;
    left: 58px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .image {
    top: 77px;
    left: 4px;
    position: absolute;
    width: 41px;
    height: 40px;
    object-fit: cover;
}

.PMS .frame-3 {
    position: absolute;
    width: 233px;
    height: 43px;
    top: 0;
    left: 50px;
    background-color: #ffd03580;
    border-radius: 10px;
    overflow: hidden;
}

.PMS .text-wrapper-7 {
    position: absolute;
    top: -6px;
    left: 24px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .img {
    top: 232px;
    left: 0;
    position: absolute;
    width: 41px;
    height: 40px;
    object-fit: cover;
}

.PMS .group-2 {
    position: absolute;
    width: 423px;
    height: 44px;
    top: 173px;
    left: 1007px;
}

.PMS .frame-4 {
    position: absolute;
    width: 113px;
    height: 44px;
    top: 0;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
}

.PMS .text-wrapper-8 {
    position: absolute;
    top: 6px;
    left: 26px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .frame-5 {
    position: absolute;
    width: 113px;
    height: 44px;
    top: 0;
    left: 113px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
}

.PMS .text-wrapper-9 {
    position: absolute;
    top: 3px;
    left: 18px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .frame-6 {
    position: absolute;
    width: 113px;
    height: 44px;
    top: 0;
    left: 226px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
}

.PMS .text-wrapper-10 {
    position: absolute;
    top: 3px;
    left: 10px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .frame-7 {
    position: absolute;
    width: 84px;
    height: 44px;
    top: 0;
    left: 339px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
}

.PMS .text-wrapper-11 {
    top: 6px;
    left: 27px;
    font-size: 20px;
    position: absolute;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .frame-8 {
    position: absolute;
    width: 1118px;
    height: 289px;
    top: 658px;
    left: 333px;
}

.PMS .frame-9 {
    position: absolute;
    width: 242px;
    height: 114px;
    top: 0;
    left: 0;
    background-color: #00000026;
}

.PMS .img-2 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 12px;
    left: 76px;
}

.PMS .text-wrapper-12 {
    top: -1px;
    left: 8px;
    font-size: 32px;
    position: absolute;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .frame-10 {
    position: absolute;
    width: 251px;
    height: 114px;
    top: 0;
    left: 289px;
    background-color: #ffd035cc;
}

.PMS .no-parking {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 24px;
    left: 81px;
}

.PMS .text-wrapper-13 {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .frame-11 {
    position: absolute;
    width: 242px;
    height: 114px;
    top: 0;
    left: 587px;
    background-color: #00000026;
}

.PMS .frame-12 {
    position: absolute;
    width: 242px;
    height: 114px;
    top: 0;
    left: 876px;
    background-color: #00000026;
}

.PMS .frame-13 {
    position: absolute;
    width: 242px;
    height: 114px;
    top: 175px;
    left: 0;
    background-color: #ffd035cc;
}

.PMS .frame-14 {
    position: absolute;
    width: 251px;
    height: 114px;
    top: 175px;
    left: 289px;
    background-color: #00000026;
}

.PMS .parking {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 12px;
    left: 81px;
}

.PMS .frame-15 {
    position: absolute;
    width: 242px;
    height: 114px;
    top: 175px;
    left: 587px;
    background-color: #ffd035cc;
}

.PMS .text-wrapper-14 {
    width: 47px;
    top: -1px;
    left: 0;
    font-size: 32px;
    position: absolute;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .frame-16 {
    position: absolute;
    width: 242px;
    height: 114px;
    top: 175px;
    left: 876px;
    background-color: #ffd035cc;
}

.PMS .car {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 591px;
    left: 1095px;
}

.PMS .car-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 591px;
    left: 1298px;
}

.PMS .text-wrapper-15 {
    position: absolute;
    top: 588px;
    left: 333px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .text-wrapper-16 {
    position: absolute;
    top: 591px;
    left: 1137px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .text-wrapper-17 {
    position: absolute;
    top: 591px;
    left: 1343px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000ab;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .frame-17 {
    position: absolute;
    width: 354px;
    height: 150px;
    top: 405px;
    left: 333px;
    background-color: #0000000f;
    box-shadow: 2px 2px 4px #00000040;
}

.PMS .text-wrapper-18 {
    position: absolute;
    top: 75px;
    left: 24px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .text-wrapper-19 {
    top: 21px;
    left: 24px;
    position: absolute;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .frame-18 {
    position: absolute;
    width: 354px;
    height: 150px;
    top: 403px;
    left: 730px;
    background-color: #0000000f;
    box-shadow: 2px 2px 4px #00000040;
}

.PMS .text-wrapper-20 {
    top: 75px;
    left: 25px;
    position: absolute;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .text-wrapper-21 {
    top: 18px;
    left: 13px;
    position: absolute;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .frame-19 {
    position: absolute;
    width: 354px;
    height: 150px;
    top: 405px;
    left: 1127px;
    background-color: #0000000f;
    box-shadow: 2px 2px 4px #00000040;
}

.PMS .text-wrapper-22 {
    position: absolute;
    top: 13px;
    left: 14px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.PMS .text-wrapper-23 {
    top: 66px;
    left: 34px;
    position: absolute;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}
.PMS .transaction{
    text-decoration: none;
}
.PMS .feedback{
    text-decoration: none;
}
.PMS .Payment{
   
        text-decoration: none;
    
    
}


