.feedback {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.feedback .overlap-wrapper {
    background-color: #ffffff;
    width: 1512px;
    height: 982px;
}

.feedback .overlap {
    position: relative;
    height: 982px;
}

.feedback .overlap-group {
    position: absolute;
    width: 1512px;
    height: 982px;
    top: 0;
    left: 0;
}

.feedback .frame {
    position: absolute;
    width: 1512px;
    height: 83px;
    top: 18px;
    left: 0;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 3.8px #00000040;
}

.feedback .div {
    position: relative;
    height: 72px;
    top: 5px;
}

.feedback .text-wrapper {
    position: absolute;
    top: 8px;
    left: 950px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}

.feedback .text-wrapper-2 {
    position: absolute;
    top: 8px;
    left: 1079px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}

.feedback .text-wrapper-3 {
    top: 8px;
    left: 1263px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    font-size: 36px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.feedback .frame-2 {
    position: absolute;
    width: 290px;
    height: 982px;
    top: 0;
    left: 0;
    background-color: #f3f4f8;
    overflow: hidden;
    border: 1px solid;
    border-color: #00000080;
}

.feedback .frame-3 {
    position: absolute;
    width: 288px;
    height: 388px;
    top: 0;
    left: 0;
    background-color: #cccccc80;
}

.feedback .parky {
    position: absolute;
    top: 9px;
    left: 82px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.feedback .span {
    color: #000000;
}

.feedback .text-wrapper-4 {
    color: #ffd035;
}

.feedback .div-wrapper {
    position: absolute;
    width: 167px;
    height: 43px;
    top: 124px;
    left: 48px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
}

.feedback .text-wrapper-5 {
    position: absolute;
    top: 6px;
    left: 31px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.feedback .group {
    position: absolute;
    width: 283px;
    height: 312px;
    top: 423px;
    left: 15px;
}

.feedback .vector {
    position: absolute;
    width: 26px;
    height: 29px;
    top: 155px;
    left: 1px;
}

.feedback .uis-signal-alt {
    position: absolute;
    width: 30px;
    height: 29px;
    top: 5px;
    left: 3px;
}

.feedback .overlap-group-2 {
    position: absolute;
    width: 228px;
    height: 312px;
    top: 0;
    left: 47px;
}

.feedback .text-wrapper-6 {
    width: 188px;
    top: 146px;
    left: 9px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    font-size: 32px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.feedback .text-wrapper-7 {
    position: absolute;
    width: 156px;
    top: 219px;
    left: 9px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.feedback .text-wrapper-8 {
    position: absolute;
    width: 219px;
    top: 72px;
    left: 9px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.feedback .frame-4 {
    position: absolute;
    width: 226px;
    height: 41px;
    top: 223px;
    left: 0;
    background-color: #ffd03580;
    border-radius: 10px;
}

.feedback .text-wrapper-9 {
    position: absolute;
    width: 178px;
    top: 0;
    left: 26px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.feedback .image {
    top: 75px;
    left: 4px;
    position: absolute;
    width: 40px;
    height: 38px;
    object-fit: cover;
}

.feedback .img {
    top: 224px;
    left: 0;
    position: absolute;
    width: 40px;
    height: 38px;
    object-fit: cover;
}

.feedback .text-wrapper-10 {
    position: absolute;
    top: 166px;
    left: 355px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}

.feedback .do-you-have-a {
    position: absolute;
    top: 236px;
    left: 409px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}

.feedback .frame-5 {
    position: absolute;
    width: 977px;
    height: 536px;
    top: 371px;
    left: 371px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px 2px #0000002e;
}

.feedback .frame-6 {
    position: absolute;
    width: 381px;
    height: 50px;
    top: 52px;
    left: 156px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000bf;
    box-shadow: 0px 4px 4px 2px #0000002e;
}

.feedback .text-wrapper-11 {
    position: absolute;
    top: 9px;
    left: 99px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.feedback .frame-7 {
    position: absolute;
    width: 381px;
    height: 50px;
    top: 135px;
    left: 156px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000bf;
    box-shadow: 0px 4px 4px 2px #0000002e;
}

.feedback .frame-8 {
    position: absolute;
    width: 381px;
    height: 50px;
    top: 218px;
    left: 156px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000bf;
    box-shadow: 0px 4px 4px 2px #0000002e;
}

.feedback .frame-9 {
    position: absolute;
    width: 807px;
    height: 98px;
    top: 317px;
    left: 118px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000bf;
    box-shadow: 0px 4px 4px 2px #0000002e;
}

.feedback .text-wrapper-12 {
    position: absolute;
    top: 17px;
    left: 28px;
    font-family: "Poppins-ExtraLight", Helvetica;
    font-weight: 200;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.feedback .frame-10 {
    position: absolute;
    width: 312px;
    height: 62px;
    top: 439px;
    left: 381px;
    background-color: #ffc107;
    border-radius: 10px;
    overflow: hidden;
    border: 0px none;
}

.feedback .text-wrapper-13 {
    position: absolute;
    top: 19px;
    left: 94px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}
