.reservation-details {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .reservation-details .div {
    background-color: #ffffff;
    width: 1512px;
    height: 982px;
    position: relative;
  }
  
  .reservation-details .frame {
    position: absolute;
    width: 586px;
    height: 762px;
    top: 124px;
    left: 558px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000bf;
    box-shadow: 0px 4px 4px 2px #0000002e;
  }
  
  .reservation-details .parky {
    position: absolute;
    top: 18px;
    left: 221px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .reservation-details .text-wrapper {
    color: #000000;
  }
  
  .reservation-details .span {
    color: #ffd035;
  }
  
  .reservation-details .div-wrapper {
    position: absolute;
    width: 381px;
    height: 50px;
    top: 169px;
    left: 102px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000bf;
    box-shadow: 0px 4px 4px 2px #0000002e;
  }
  
  .reservation-details .text-wrapper-2 {
    left: 90px;
    position: absolute;
    top: 9px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .reservation-details .frame-2 {
    position: absolute;
    width: 381px;
    height: 50px;
    top: 249px;
    left: 102px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000bf;
    box-shadow: 0px 4px 4px 2px #0000002e;
  }
  
  .reservation-details .text-wrapper-3 {
    position: absolute;
    top: 9px;
    left: 86px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .reservation-details .frame-3 {
    position: absolute;
    width: 381px;
    height: 50px;
    top: 329px;
    left: 102px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000bf;
    box-shadow: 0px 4px 4px 2px #0000002e;
  }
  
  .reservation-details .text-wrapper-4 {
    position: absolute;
    top: 9px;
    left: 85px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .reservation-details .frame-4 {
    position: absolute;
    width: 381px;
    height: 50px;
    top: 401px;
    left: 102px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000bf;
    box-shadow: 0px 4px 4px 2px #0000002e;
  }
  
  .reservation-details .frame-5 {
    position: absolute;
    width: 381px;
    height: 50px;
    top: 481px;
    left: 98px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000bf;
    box-shadow: 0px 4px 4px 2px #0000002e;
  }
  
  .reservation-details .text-wrapper-5 {
    left: 89px;
    position: absolute;
    top: 9px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .reservation-details .frame-6 {
    position: absolute;
    width: 381px;
    height: 97px;
    top: 571px;
    left: 96px;
    background-color: #ffd035;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000bf;
    box-shadow: 0px 4px 4px 2px #0000002e;
  }
  
  .reservation-details .text-wrapper-6 {
    position: absolute;
    top: 24px;
    left: 118px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .reservation-details .frame-7 {
    position: absolute;
    width: 290px;
    height: 982px;
    top: 0;
    left: 0;
    background-color: #f3f4f8;
    overflow: hidden;
    border: 1px solid;
    border-color: #00000080;
  }
  
  .reservation-details .frame-8 {
    position: absolute;
    width: 290px;
    height: 388px;
    top: 0;
    left: 0;
    background-color: #cccccc80;
  }
  
  .reservation-details .p {
    position: absolute;
    top: 9px;
    left: 82px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .reservation-details .frame-9 {
    position: absolute;
    width: 167px;
    height: 43px;
    top: 124px;
    left: 48px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
  }
  
  .reservation-details .text-wrapper-7 {
    position: absolute;
    top: 6px;
    left: 31px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .reservation-details .group {
    position: absolute;
    width: 293px;
    height: 276px;
    top: 423px;
    left: 5px;
  }
  
  .reservation-details .vector {
    position: absolute;
    width: 31px;
    height: 30px;
    top: 161px;
    left: 3px;
  }
  
  .reservation-details .uis-signal-alt {
    position: absolute;
    width: 31px;
    height: 30px;
    top: 5px;
    left: 3px;
  }
  
  .reservation-details .text-wrapper-8 {
    position: absolute;
    width: 192px;
    top: 152px;
    left: 57px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .reservation-details .text-wrapper-9 {
    position: absolute;
    width: 159px;
    top: 228px;
    left: 57px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .reservation-details .overlap-group {
    position: absolute;
    width: 231px;
    height: 48px;
    top: 75px;
    left: 54px;
  }
  
  .reservation-details .text-wrapper-10 {
    position: absolute;
    width: 224px;
    top: 0;
    left: 3px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .reservation-details .frame-10 {
    position: absolute;
    width: 231px;
    height: 43px;
    top: 0;
    left: 0;
    background-color: #ffd03580;
    border-radius: 10px;
  }
  
  .reservation-details .image {
    top: 78px;
    left: 4px;
    position: absolute;
    width: 41px;
    height: 40px;
    object-fit: cover;
  }
  
  .reservation-details .text-wrapper-11 {
    position: absolute;
    width: 182px;
    top: 0;
    left: 60px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .reservation-details .img {
    top: 233px;
    left: 0;
    position: absolute;
    width: 41px;
    height: 40px;
    object-fit: cover;
  }
  .reservation-details .Payment{
    text-decoration: none;
  }